@model PhoneBook.Models.Customer

@* <div class="mt-3">
    <a class="mt-3 btn btn-success" asp-controller="Customers" asp-action="AddEmail" asp-route-customerId="@Model.Id">Add Email</a>
</div> *@
<partial name="_AddEmail" for="Model.Emails" />


@if (Model.Emails is not null && Model.Emails.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Διεύθυνση Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var email in Model.Emails)
            {
                <tr>
                    <td>@email.EmailAddress</td>
                    <td>
                        @* <a class="mt-3 btn btn-primary" asp-action="EditEmail" asp-route-id="@email.Id">Edit</a>
                        <a class="mt-3 btn btn-danger" asp-action="DeleteEmail" asp-route-id="@email.Id">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

