@model IEnumerable<PhoneBook.Models.PhoneType>

@{
    ViewData["Title"] = "Index";
}

<h1>Phone Types</h1>

<a class="btn btn-success mb-3" asp-action="Create">Create</a>

<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var phoneType in Model)
        {
            <tr>
                <td>@phoneType.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@phoneType.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@phoneType.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>